:root{
    --body-text:#434455;
    --NAVY-BLUE:#2E2F42;
    --IRIS:#4D5AE5;
    --OCEAN:#404BBF;
}
body{
     color:var(--body-text);
     font-family: 'Roboto', sans-serif;
     background: #FFFFFF;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/* ==========HEADER========== */
.logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--IRIS);

}
.logo-naim{
    color:var(--NAVY-BLUE);
}
.menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--NAVY-BLUE);
}
.menu-link:hover,
.menu-link:focus{
    color:var(--OCEAN);
}
.adress{
    font-style: normal;
}
.mail,
.phone-number{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text);
}
.mail:hover,
.mail:focus{
    color:var(--OCEAN);
}
/* ==========/HEADER========== */

/* ==========HERO========== */
.hero{
    background-color:var(--NAVY-BLUE);
}
.hero-title{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
 color: #FFFFFF; 
}
.btn{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background: var(--IRIS);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}
.btn:hover,
.btn:focus{
    background:var(--OCEAN);
}
/* ==========/HERO========== */
/* ==========ОСОБЕННОСТИ========== */
.subtitle{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--NAVY-BLUE);
}
.text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text);
}

/* ==========/ОСОБЕННОСТИ========== */
/* ==========What are we doing========== */
.team{ background: #F4F4FD;}

.subject{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--NAVY-BLUE)
}
/* ==========/What are we doing========== */
/* ==========FOOTER========== */
.footer-stile{
background:var(--NAVY-BLUE);
}
.logo-footer{
    color: #F4F4FD;
}
.text-footer{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  #F4F4FD;
}
/* ==========FOOTER========== */